<h1 style="color: #5e9ca0;">Hello !! Welcome to your webserver</h1>
<p>Its Yours and You Own it!!&nbsp;<img src="https://html-online.com/editor/tinymce4_6_5/plugins/emoticons/img/smiley-cool.gif" alt="cool" /></p>
<p>&nbsp;</p>
<p><img src="thumbsup.gif" alt="ThumbsUp" /></p>
<p>&nbsp;</p>